@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Be Vietnam Pro" , "sans-serif";
    scroll-behavior: smooth;
}

:root{
    --bg: #e84949
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;

    padding-top: 1rem;
}

.logo{
    width: 80px;
}

.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 7px;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
    cursor: pointer;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
}

.nav-items div a{
    color: black;
}

.nav-items div:hover{
    font-weight: bold;
    transition-duration: 0.8s;
}

a{
    text-decoration: none;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none; /*nobody can select text after applying this*/
    font-size: 7rem;
    color: rgb(231, 231, 231);
    position: absolute;
    bottom: -19%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn{
    background-color: var(--bg);
    width: fit-content;
    color: white;
    font-size: 18px;
    padding: 0.8rem 2.3rem;
    cursor: pointer;
    box-shadow: 5px 5px 7px 0px #0000003f;
    transition: all 0.5s;
    font-weight: 500;
    border: 3px solid transparent;
    position: relative;
    z-index: 1;
}

.btn a{
    color: white;
    font-size: 18px;
    transition: all 0.5s;   
}

.btn::before{
    content:"";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
}

.btn:hover::before{
    transform: scaleX(1);
}

.btn:hover a{
    /* border: solid 3px var(--bg); */
    color: black;
}

.btn:hover{
    /* border: solid 3px var(--bg); */
    color: black;
}

.hero-section-right{
    position: relative;

}

.absolute{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

@keyframes scaleImage {

    0%{
        filter: grayscale(0);
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
    
}

.icons{
    z-index: 1;
}

.icon-dots{
    bottom: -1rem;
    right: 0;
    animation: dotsAnimation 5s infinite;
}

@keyframes dotsAnimation {
    
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.icon-cube{
    top: -0.8em;
    right: 1em;
    animation: cubeRotate 3s infinite;
}

@keyframes cubeRotate {
    
    0%{
        transform: translateY(0px) rotateY(0deg);
    }

    50%{
        transform: translateY(-12px) rotateY(180deg);
    }

    100%{
        transform: translateY(0px) rotateY(360deg);
    }
}

.icon-circle{
    left: 0;
    bottom: 0;
    animation: shakeEffect 6s linear infinite;
}

@keyframes shakeEffect {

    50%{
        left: 5%;
        bottom: 10%;
    }

}

.icon-zigzag{
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {

    50%{
        left: 5%;
        top: 2%;
    }

}

.icon-plus{
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {

    50%{
        left: 48%;
        top: 3%;
    }

}

.project-section{
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}

.page-header{
    color: var(--bg);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding:  3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card{
    width: 90%;
    height: 550px;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}

.project-card::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68 , #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    display: none;
}

.project-card:hover .project-number{
    display: block;
}

.odd-project{
    right: -40px;
    top: -45px;
}

.even-project{
    left: -40px;
    top: -45px;
}


#project1{
    background-image: url(./images/projects/chanakya.jpeg);
    align-self: flex-start;
}

#project2{
    background-image: url(./images/projects/kyc.png);
    align-self: flex-end;
}

#project3{
    background-image: url(./images/projects/pirate.png);
    background-repeat: no-repeat;
    align-self: flex-start;
}

#project4{
    background-image: url(./images/projects/parallax.png);
    align-self: flex-end;
}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 100;
    gap: 1em;
    transition: all 0.4s;

}

.content-odd{
    left: 10%;
}

.content-even{
    right: 10%;
}

.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skill{
    width: 40px;
}

.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.btn-project{
    border: none;
}

.btn-project:hover{
    scale: 0.9;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: color 0.4s;
}

.icon:hover{
    color: var(--bg)
}

.project-card:hover .project-content{
    transform: scale(1.1);
}

.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 2rem;
    position: relative;
    justify-content: center;
}

.skill-fade-text{
    position: absolute;
    user-select: none;
    font-size: 15em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -35.5%;
    right: -8%;
}

.blob-style{/*understand blob code and animation*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    animation: blobMovement 3s linear infinite;
    z-index: -1;
}

@keyframes blobMovement {

    50%{
        top: 54%;
        left: 56%;
    }
    
}

.skills-logo{
    width: 90px;
    transition: all 0.5s;

}

.skills-logo:hover{
    transform: scale(1.2);
}

.skill-heading{
    font-size: 50px;
    font-style: bold;
    color: var(--bg);
    line-height: 50px;
}

.caps{
    font-size: 90px;
}

.skill-subheading{
    margin-top: 1rem;
    width: 85%;
}

.skill-subheading p{
    margin: 15px 0;
}

.contactus-form-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus-heading{
    font-size: 5em;
    color: var(--bg);
    padding-top: 2rem;
}

.contactus-subheading{
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
}

.formfield-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 2rem 5rem;
    width: 70%;
}

.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    box-shadow: 2px 2px 10px #1f1f1f;
}

.formfield-container textarea{
    height: auto;
}

#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}

#submit-btn:hover{
    scale: 0.9;
}

.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}

footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-fade-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover{
    color: var(--bg);
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}

@media (max-width: 800px) {
    .container{
        width: 500px;
    }
   .navbar{
    justify-content: start; 
    max-width: 900px;
    padding-top: 1rem;
    }

    .logo{
        width: 40px;
    }

    .logo-text{
        margin-left: -0.75rem;
        font-size: 18px;
    }

    .nav-items{
        gap: 1rem;
        padding: 0 2rem;
    }

    .nav-items div{
        font-size: 10px;
    }

    .hero-section{
        flex-wrap: wrap-reverse;
        gap: 2.5rem;
        margin: 2rem auto;
        padding: 0 1rem;
        padding-bottom: 4rem;
    }

    .faded-text{
        font-size: 5rem;
        bottom: -13%;
        left: -1%;
    }

    .hero-section-left{
        gap: 1rem;
    }

    .hero-section-heading{
        font-size: 20px;
    }

    .hero-section-sub-heading{
        font-size: 25px;
        line-height: 25px;
    }

    .btn{
        font-size: 15px;
        font-weight: 500;
        border: 1px solid transparent;
    }
    
    .btn a{
        color: white;
        font-size: 15px;
        transition: all 0.5s;   
    }
    
    .user-image{
        padding: 1rem;
        filter: grayscale(1);
        transition: all 1s;
        animation: scaleImage 5s linear infinite;
    }
    .hero-section-right{
        right: 13.5%;
    }
    .page-header{
        font-size: 45px;
    }
    
    .project-container{
        max-width: 500px;
        gap: 80px;
    }
    
    .project-card{
        height: 253px;
    }
    
    .project-number{
        font-size: 100px;
    }
    
    .odd-project{
        right: -40px;
        top: -45px;
    }
    
    .even-project{
        left: -40px;
        top: -45px;
    }
    
    .project-skills-container{
        gap: 2px;
    }
    
    .project-skill{
        width: 20px;
    }
    
    .project-heading{
        font-size: 25px;
        font-weight: bold;
        line-height: 2rem;
    }
    
    .project-subheading{
        font-size: 8px;
    }
    
    .icon{
        font-size: 17.5px;
    }
    
    .project-content{
        bottom: 2%;
    }

    .btn-project{
        height: 40px;

    }

    .skills-container{
        padding: 2.5rem;
        margin: 5rem auto;
        gap: 35px;
        flex-wrap: wrap;
    }
    
    .skill-container-left{
        margin: 0 5%;
    }
    
    .skill-container-right{
        flex-wrap: wrap;
        width: 50%;
        margin: 0 5%;
        gap: 2rem;
    }
    
    .skill-fade-text{
        bottom: -12%;
        right: 30%;
        font-size: 7em;
    }
    
    .blob-style{
        transform: translate(-45%,-50%);
        width: 250px;
    }
    
    .skills-logo{
        width: 30px;
    
    }
    
    .skills-logo:hover{
        transform: scale(1.2);
    }
    
    .skill-heading{
        text-align: center;
        font-size: 25px;
        line-height: 25px;
    }
    
    .caps{
        font-size: 45px;
    }
    
    .skill-subheading{
        margin-top: 1rem;
        width: 85%;
        text-align: left;
    }

    .contactus-heading{
        font-size: 2.5em;
        padding-top: 2rem;
        margin-left: 3%;
    }

    .contactus-subheading{
        font-size: 1.5rem;
        margin-left: 3%;
    }

    .contactus-form-container{
        margin: 0 auto;
    }


    .formfield{
        padding: 0 1rem;
        font-size: 15px;
    }

    #submit-btn{
        font-size: 0.8rem;
    }
    
    .submit-icon{
        font-size: 1rem;
    }

    footer{
        padding: 2.5rem 0;
    }

    .footer-wrapper{
        gap: 2.5rem;
        padding: 0.5rem;
        justify-content: flex-start;
    }

    .footer-fade-text{
        font-size: 1.5em;
    }

    .link-wrapper div a{
        font-size: 10px;
    }

    .icon{
        font-size: 15px;
    }

    .form{
        margin: 2rem 0rem;
    }
    
}
